<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <title>Teapot creation canceled</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <h1>
	    <i class="text-danger glyphicon glyphicon-remove"></i>
	    Teapot creation canceled
    </h1>

    <!-- Return to the list button -->
    <a class="btn btn-default btn-lg" href="/">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Return to the list
    </a>
</body>
</html>