<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
    <title>Creation of new teapot</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
</head>
<body>
    <h1>Creation of new teapot</h1>

    <!-- Edit form -->
    <form method="POST" class="form-horizontal" th:object="${teapot}">

        <!-- Id -->
        <div class="form-group">
            <label for="inpId" class="col-sm-2 control-label">Id</label>
            <div class="col-sm-10">
                <input id="inpId"
                    name="id"
                    type="text"
                    class="form-control"
                    placeholder="Id"
                    th:field="*{id}"></input>
            </div>
        </div>

        <!-- Name -->
        <div class="form-group">
            <label for="inpName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input id="inpName"
                    name="name"
                    type="text"
                    class="form-control"
                    placeholder="Name"
                    th:field="*{name}"></input>
            </div>
        </div>

        <!-- Brand -->
        <div class="form-group">
            <label for="inpBrand" class="col-sm-2 control-label">Brand</label>
            <div class="col-sm-10">
                <input id="inpBrand"
                    name="brand"
                    type="text"
                    class="form-control"
                    placeholder="Brand"
                    th:field="*{brand}"></input>
            </div>
        </div>

        <!-- Volume -->
        <div class="form-group">
            <label for="inpVolume" class="col-sm-2 control-label">Volume</label>
            <div class="col-sm-10">
                <select id="inpVolume"
                    name="volume"
                    class="form-control"
                    th:field="*{volume}">
                    <option th:each="volume : ${volumes}"
                        th:value="${{volume}}"
                        th:text="${{volume + ' L'}}"></option>
                </select>
            </div>
        </div>

        <!-- Button "Submit" -->
        <button type="submit"
            name="_eventId_submit"
            value="submit"
            class="btn btn-primary btn-lg">
            <i class="glyphicon glyphicon-floppy-disk"></i>
            Submit
        </button>

        <!-- Button "Cancel" -->
        <button type="submit"
            name="_eventId_cancel"
            value="cancel"
            class="btn btn-lg">
            <i class="glyphicon glyphicon-remove-circle"></i>
            Cancel
        </button>
    </form>
</body>
</html>